// ====
// Base
// ====
.hover-effect {
  figure {
    img {
      display: block;
      max-width: 100%;
      min-height: 100%;
      position: relative;
    }

    figcaption {
      @include backface-visibility(hidden);

      color: $hover-effect-caption-color;
      font-size: 1.25em;
      padding: 2em;
      text-transform: uppercase;

      &::before,
      &::after {
        pointer-events: none;
      }

      &,
      > a {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }

      /* Anchor will cover the whole item by default */
      /* For some effects it will show as a button */
      > a {
        font-size: 0;
        opacity: 0;
        text-indent: 200%;
        white-space: nowrap;
        z-index: 1000;
      }
    } // End figcaption

    h2 {
      font-weight: 300;
      word-spacing: -.15em;

      span {
        font-weight: 800;
      }
    }

    h2,
    p {
      margin: 0;
    }

    p {
      font-size: 68.5%;
      letter-spacing: 1px;
    }
  }
}
