
$hover-effect-caption-color:       #fff !default;
$hover-effect-default-speed:       .35s !default;
$hover-effect-default-delay:       .2s !default;
$hover-effect-default-short-delay: .05s !default;

// Lily
$hover-effect-lily-speed:          $hover-effect-default-speed !default;
$hover-effect-lily-delay:          $hover-effect-default-delay !default;
$hover-effect-lily-hover-delay:    $hover-effect-default-short-delay !default;

// Roxy
$hover-effect-roxy-speed:          $hover-effect-default-speed !default;

// Ruby
$hover-effect-ruby-speed:          $hover-effect-default-speed !default;

// Sadie
$hover-effect-sadie-speed:         $hover-effect-default-speed !default;
$hover-effect-sadie-color:         #484c61 !default;

// Sarah
$hover-effect-sarah-speed:         $hover-effect-default-speed !default;

// Zoe
$hover-effect-zoe-speed:           $hover-effect-default-speed !default;
$hover-effect-zoe-delay:           $hover-effect-default-short-delay !default;
$hover-effect-zoe-color:           #3c4a50 !default;
$hover-effect-zoe-color-dark:      #252d31 !default;