
$hover-effect-background-color:                #528cb3 !default;
$hover-effect-caption-color:                   #fff !default;
$hover-effect-border-color:                    #fff !default;
$hover-effect-default-speed:                   .35s !default;
$hover-effect-default-delay:                   .2s !default;
$hover-effect-default-short-delay:             .05s !default;

// Apollo
$hover-effect-apollo-background-color:         $hover-effect-background-color !default;
$hover-effect-apollo-border-color:             $hover-effect-border-color !default;
$hover-effect-apollo-speed:                    $hover-effect-default-speed !default;
$hover-effect-apollo-slow-speed:               .6s !default;
$hover-effect-apollo-delay:                    $hover-effect-default-delay / 2 !default;

// Bubba
$hover-effect-bubba-speed:                     $hover-effect-default-speed !default;
$hover-effect-bubba-background:                $hover-effect-background-color !default;
$hover-effect-bubba-border-color:              $hover-effect-border-color !default;

// Chico
$hover-effect-chico-speed:                     $hover-effect-default-speed !default;
$hover-effect-chico-border-color:              $hover-effect-border-color !default;

// Dexter
$hover-effect-dexter-speed:                    $hover-effect-default-speed !default;
$hover-effect-dexter-background-color:         $hover-effect-background-color !default;
$hover-effect-dexter-border-color:             $hover-effect-border-color !default;

// Duke
$hover-effect-duke-speed:                      $hover-effect-default-speed !default;
$hover-effect-duke-background-color:           $hover-effect-background-color !default;
$hover-effect-duke-border-color:               $hover-effect-border-color !default; 

// Goliath
$hover-effect-goliath-speed:                   $hover-effect-default-speed !default;
$hover-effect-goliath-background-color:        $hover-effect-background-color !default;

// Hera
$hover-effect-hera-speed:                      $hover-effect-default-speed !default;
$hover-effect-hera-background-color:           $hover-effect-background-color !default;
$hover-effect-hera-border-color:               $hover-effect-border-color !default;
$hover-effect-hero-font-color:                 $hover-effect-caption-color !default;

// Honey
$hover-effect-honey-speed:                     $hover-effect-default-speed !default;
$hover-effect-honey-background-color:          $hover-effect-background-color !default;
$hover-color-honey-border-color:               $hover-effect-border-color !default;

// Jazz
$hover-effect-jazz-delay:                      $hover-effect-default-speed !default;
$hover-effect-jazz-border-color:               $hover-effect-border-color !default;
$hover-effect-jazz-background-color:           $hover-effect-background-color !default;

// Julia
$hover-effect-julia-delay:                     $hover-effect-default-short-delay !default;
$hover-effect-julia-speed:                     $hover-effect-default-speed !default;
$hover-effect-julia-slow-speed:                1s !default;
$hover-effect-julia-background-color:          $hover-effect-background-color !default;
$hover-effect-julia-border-color:              rgb(255, 255, 255) !default;
$hover-effect-julia-color:                     #2f3238 !default;

// Kira
$hover-effect-kira-speed:                      $hover-effect-default-speed !default;
$hover-effect-kira-background-color:           $hover-effect-background-color !default;
$hover-effect-kira-border-color:               $hover-effect-border-color !default;
$hover-effect-kira-font-color:                 #101010 !default;

// Layla
$hover-effect-layla-speed:                     $hover-effect-default-speed !default;
$hover-effect-layla-delay:                     .15s !default;
$hover-effect-layla-background-color:          $hover-effect-background-color !default;
$hover-effect-layla-border-color:              $hover-effect-border-color !default;

// Lexi
$hover-effect-lexi-speed:                      $hover-effect-default-speed !default;
$hover-effect-lexi-background-color:           $hover-effect-background-color !default;
$hover-effect-lexi-border-color:               $hover-effect-border-color !default;

// Lily
$hover-effect-lily-speed:                      $hover-effect-default-speed !default;
$hover-effect-lily-delay:                      $hover-effect-default-delay !default;
$hover-effect-lily-hover-delay:                $hover-effect-default-short-delay !default;

// Marley
$hover-effect-marley-speed:                    $hover-effect-default-speed !default;
$hover-effect-marley-border-color:             $hover-effect-border-color !default;

// Milo
$hover-effect-milo-speed:                      $hover-effect-default-speed !default;
$hover-effect-milo-background-color:           $hover-effect-background-color !default;
$hover-effect-milo-border-color:               $hover-effect-border-color !default;

// Ming
$hover-effect-ming-speed:                      $hover-effect-default-speed !default;
$hover-effect-ming-background-color:           $hover-effect-background-color !default;
$hover-effect-ming-border-color:               $hover-effect-border-color !default;

// Moses
$hover-effect-moses-speed:                     $hover-effect-default-speed !default;
$hover-effect-moses-border-color:              $hover-effect-border-color !default;
$hover-effect-moses-background-color:          $hover-effect-background-color !default;

// Oscar
$hover-effect-oscar-speed:                     $hover-effect-default-speed !default;
$hover-effect-oscar-figcaption-background-rgb: $hover-effect-background-color !default;
$hover-effect-oscar-background-color:          $hover-effect-background-color !default;
$hover-effect-oscar-border-color:              $hover-effect-border-color !default;

// Phoebe
$hover-effect-phoebe-speed:                    $hover-effect-default-speed !default;
$hover-effect-phoebe-background-color:         $hover-effect-background-color !default;
$hover-effect-phoebe-font-color:               $hover-effect-caption-color !default;
$hover-effect-phoebe-border-color:             $hover-effect-border-color !default;

// Romeo
$hover-effect-romeo-speed:                     $hover-effect-default-speed !default;
$hover-effect-romeo-border-color:              $hover-effect-border-color !default;

// Roxy
$hover-effect-roxy-speed:                      $hover-effect-default-speed !default;
$hover-effect-roxy-background-color:           $hover-effect-background-color !default;
$hover-effect-roxy-border-color:               $hover-effect-border-color !default;

// Ruby
$hover-effect-ruby-speed:                      $hover-effect-default-speed !default;
$hover-effect-ruby-background-color:           $hover-effect-background-color !default;
$hover-effect-ruby-border-color:               $hover-effect-border-color !default;

// Sadie
$hover-effect-sadie-speed:                     $hover-effect-default-speed !default;
$hover-effect-sadie-color:                     $hover-effect-background-color !default;
$hover-effect-sadie-hover-color:               $hover-effect-caption-color !default;

// Sarah
$hover-effect-sarah-speed:                     $hover-effect-default-speed !default;
$hover-effect-sarah-background-color:          $hover-effect-background-color !default;
$hover-effect-sarah-border-color:              $hover-effect-border-color !default;

// Selena
$hover-effect-selena-speed:                    $hover-effect-default-speed !default;
$hover-effect-selena-background-color:         $hover-effect-background-color !default;

// Steve
$hover-effect-steve-speed:                     $hover-effect-default-speed !default;
$hover-effect-steve-background-color:          $hover-effect-background-color !default;
$hover-effect-steve-border-color:              $hover-effect-border-color !default;
$hover-effect-steve-font-color:                $hover-effect-background-color !default;


// Terry
$hover-effect-terry-speed:                     $hover-effect-default-speed !default;
$hover-effect-terry-delay:                     $hover-effect-default-short-delay !default;
$hover-effect-terry-background-color:          $hover-effect-background-color !default;
$hover-effect-terry-font-color:                $hover-effect-background-color !default;
$hover-effect-terry-border-color:              $hover-effect-border-color !default;

// Winston
$hover-effect-winston-delay:                   $hover-effect-default-short-delay !default;
$hover-effect-winston-speed:                   .45s !default;
$hover-effect-winston-slow-speed:              $hover-effect-default-speed !default;
$hover-effect-winston-background-color:        $hover-effect-background-color !default;
$hover-effect-winston-font-color:              $hover-effect-background-color !default;
$hover-effect-winston-border-color:            $hover-effect-border-color !default;

// Zoe
$hover-effect-zoe-speed:                       $hover-effect-default-speed !default;
$hover-effect-zoe-delay:                       $hover-effect-default-short-delay !default;
$hover-effect-zoe-color:                       $hover-effect-background-color !default;
$hover-effect-zoe-color-dark:                  $hover-effect-background-color !default;
$hover-effect-zoe-border-color:                $hover-effect-border-color !default;
