// =====
// Chico
// =====
.hover-effect figure.effect-chico {
  img {
    @include transition(opacity $hover-effect-chico-speed, transform $hover-effect-chico-speed);
    @include scale(1.12);
  }

  figcaption {
    padding: 3em;

    &::before {
      @include scale(1.1);
      
      border: 1px solid $hover-effect-chico-border-color;
      bottom: 30px;
      content: '';
      left: 30px;
      position: absolute;
      right: 30px;
      top: 30px;
    }
  }

  figcaption::before,
  p {
    @include transition(opacity $hover-effect-chico-speed, transform $hover-effect-chico-speed);

    opacity: 0;
  }

  h2 {
    padding: 20% 0 20px;
  }

  p {
    @include scale(1.5);
    margin: 0 auto;
    max-width: 200px;
  }

  &:hover {
    img {
      @include scale(1);

      opacity: .5;
    }

    figcaption::before,
    p {
      @include scale(1);

      opacity: 1;
    }
  }
}
