// ====
// Duke
// ====
.hover-effect figure.effect-duke {
  background: -webkit-linear-gradient(-45deg, darken($hover-effect-duke-background-color, 80%) 0%, $hover-effect-duke-background-color 100%);
  background: linear-gradient(-45deg, darken($hover-effect-duke-background-color, 80%) 0%, $hover-effect-duke-background-color 100%);

  img,
  p {
    @include transition(opacity $hover-effect-duke-speed, transform $hover-effect-duke-speed);
  }

  h2 {
    @include transition(transform $hover-effect-duke-speed);
    @include scale3d(.8, .8, 1);
    @include transform-origin(50% 100%);
  }

  p {
    @include scale3d(.8, .8, 1);
    @include transform-origin(50% -100%);
    border: 2px solid $hover-effect-duke-border-color;
    bottom: 0;
    font-size: 90%;
    left: 0;
    margin: 20px;
    opacity: 0;
    padding: 30px;
    position: absolute;
    text-transform: none;
  }

  &:hover {
    img {
      @include scale3d(2, 2, 1);

      opacity: .1;
    }

    h2,
    p {
      @include scale3d(1, 1, 1);

      opacity: 1;
    }
  }
}
