// =====
// Honey
// =====
.hover-effect figure.effect-honey {
  background: $hover-effect-honey-background-color;
 
  img {
    @include transition(opacity $hover-effect-honey-speed);

    opacity: .9;
  }

  figcaption::before {
    @include translate3d(0, 10px, 0);

    background: $hover-color-honey-border-color;
    bottom: 0;
    content: '';
    height: 10px;
    left: 0;
    position: absolute;
    width: 100%;
  }

  h2 {
    @include translate3d(0, -30px, 0);
    bottom: 0;
    left: 0;
    padding: 1em 1.5em;
    position: absolute;
    text-align: left;
    width: 100%;

    i {
      @include transition(opacity $hover-effect-honey-speed, transform $hover-effect-honey-speed);
      @include translate3d(0, -30px, 0);

      font-style: normal;
      opacity: 0;
    }
  }

  figcaption::before,
  h2 {
    @include transition(transform $hover-effect-honey-speed);
  }

  &:hover {
    img {
      opacity: .5;
    }

    figcaption::before,
    h2,
    h2 i {
      @include translate3d(0, 0, 0);

      opacity: 1;
    }

  }
}
