// =====
// Julia
// =====
.hover-effect figure.effect-julia {
  background: $hover-effect-julia-background-color;

  img {
    @include backface-visibility(hidden);
    @include transition(opacity $hover-effect-julia-slow-speed, transform $hover-effect-julia-slow-speed);

    height: 400px;
    max-width: none;
  }

  figcaption {
    text-align: left;
  }

  h2 {
    padding: .5em 0;
    position: relative;
  }

  p {
    @include transition(opacity $hover-effect-julia-speed, transform $hover-effect-julia-speed);
    @include translate3d(-360px, 0, 0);

    background: rgba($hover-effect-julia-border-color, .9);
    color: $hover-effect-julia-color;
    display: inline-block;
    font-size: 75%;
    font-weight: 500;
    margin: 0 0 .25em;
    padding: .4em 1em;
    text-transform: none;

    &:first-child {
      @include transition-delay($hover-effect-julia-delay * 3);
    }

    &:nth-of-type(2) {
      @include transition-delay($hover-effect-julia-delay * 2);
    }

    &:nth-of-type(3) {
      @include transition-delay($hover-effect-julia-delay);
    }
  }

  &:hover {
    img {
      @include scale3d(1.1, 1.1, 1.1);

      opacity: .4;
    }

    p {
      @include translate3d(0, 0, 0);

      opacity: 1;

      &:first-child {
        @include transition-delay(0s);
      }

      &:nth-of-type(2) {
        @include transition-delay($hover-effect-julia-delay);
      }

      &:nth-of-type(3) {
        @include transition-delay($hover-effect-julia-delay * 2);
      }
    }
  }
}
