// ====
// Kira
// ====
.hover-effect figure.effect-kira {
  background: $hover-effect-kira-background-color;
  text-align: left;

  img {
    @include transition(opacity $hover-effect-kira-speed);
  }

  figcaption {
    z-index: 1;

    &::before {
      @include transition(opacity $hover-effect-kira-speed, transform $hover-effect-kira-speed);
      @include transform(translate3d(0, 4em, 0) scale3d(1, .023, 1));
      @include transform-origin(50% 0);

      background: $hover-effect-kira-border-color;
      content: '';
      height: 3.5em;
      left: 2em;
      position: absolute;
      right: 2em;
      top: 0;
      z-index: -1;
    }
  }

  p {
    @include transition(opacity $hover-effect-kira-speed, transform $hover-effect-kira-speed);
    @include translate3d(0, -10px, 0);

    font-size: 100%;
    font-weight: 600; 
    line-height: 1.5;
    opacity: 0;
    padding: 2.25em .5em;

    a {
      color: $hover-effect-kira-font-color;
      margin: 0 .5em;

      &:hover,
      &:focus {
        opacity: .6;
      }
    }
  }

  &:hover {
    img {
      opacity: .5;
    }

    p {
      @include translate3d(0, 0, 0);

      opacity: 1;
    }

    figcaption::before {
      @include transform(translate3d(0, 5em, 0) scale3d(1, 1, 1));

      opacity: .7;
    }
  }
}
