// =====
// Layla
// =====
.hover-effect figure.effect-layla {
  background: $hover-effect-layla-background-color;
  
  figcaption {
    padding: 3em;

    &::before,
    &::after {
      content: '';
      opacity: 0;
      position: absolute;
    }

    &::before {
      @include scale(0, 1);
      @include transform-origin(0 0);

      border-bottom: 1px solid $hover-effect-layla-border-color;
      border-top: 1px solid $hover-effect-layla-border-color;
      bottom: 50px;
      left: 30px;
      right: 30px;
      top: 50px;
    }

    &::after {
      @include scale(1, 0);
      @include transform-origin(100%, 0);

      border-left: 1px solid $hover-effect-layla-border-color;
      border-right: 1px solid $hover-effect-layla-border-color;
      bottom: 30px;
      left: 50px;
      right: 50px;
      top: 30px;
    }
  }

  h2 {
    @include transition(transform $hover-effect-layla-speed);

    padding-top: 26%;
  }

  p {
    @include translate3d(0, -10px, 0);

    opacity: 0;
    padding: .5em 2em;
    text-transform: none;
  }

  img,
  h2 {
    @include translate3d(0, -30px, 0);
  }

  img,
  figcaption::before,
  figcaption::after,
  p {
    @include transition(opacity $hover-effect-layla-speed, transform $hover-effect-layla-speed);
  }

  &:hover {
    img {
      @include translate3d(0, 0, 0);

      opacity: .7;
    }

    figcaption::before,
    figcaption::after {
      @include scale(1);

      opacity: 1;
    }

    h2,
    p {
      @include translate3d(0, 0, 0);

      opacity: 1;
    }

    figcaption::after,
    h2,
    p,
    img {
      @include transition-delay($hover-effect-layla-delay);
    }
  }
}
