// ====
// Lily
// ====
.hover-effect figure.effect-lily {
  img {
    @include translate3d(-40px, 0, 0);
    @include transition(opacity $hover-effect-lily-speed, transform $hover-effect-lily-speed);

    max-width: none;
    opacity: .7;   
    width: -webkit-calc(100% + 50px);
    width: calc(100% + 50px);
  }

  figcaption {
    text-align: left;

    > div {
      bottom: 0;
      height: 50%;
      left: 0;
      padding: 2em;
      position: absolute;
      width: 100%;
    }
  }

  h2,
  p {
    @include translate3d(0, 40px, 0);
  }

  h2 {
    @include transition(transform $hover-effect-lily-speed); 
  }

  p {
    @include transition(opacity $hover-effect-lily-delay, transform $hover-effect-lily-speed);

    color: rgba(255, 255, 255, .8);
    opacity: 0;    
  }

  &:hover {
    img,
    p {
      opacity: 1;
    }

    img,
    h2,
    p {
      @include translate3d(0, 0, 0)
    }

    p {
      @include transition-delay($hover-effect-lily-hover-delay);
      @include transition-duration($hover-effect-lily-speed);
    }
  }
}
