// ======
// Marley
// ======
.hover-effect figure.effect-marley {
  figcaption {
    text-align: right;
  }

  h2,
  p {
    left: 30px;
    padding: 10px 0;
    position: absolute;
    right: 30px;
  }

  p {
    @include translate3d(0, 100%, 0);

    bottom: 30px;
    line-height: 1.5;
  }

  h2 {
    @include transition(transform $hover-effect-marley-speed);
    @include translate3d(0, 20px, 0);

    top: 30px;

    &::after {
      @include translate3d(0, 40px, 0);

      background: $hover-effect-marley-border-color;
      content: '';
      height: 4px;
      left: 0;
      position: absolute;
      top: 100%;
      width: 100%;
    }
  }

  h2::after,
  p {
    @include transition(opacity $hover-effect-marley-speed, transform $hover-effect-marley-speed);

    opacity: 0;
  }

  &:hover {
    h2 {
      @include translate3d(0, 0, 0);
    }

    h2::after,
    p {
      @include translate3d(0, 0, 0);

      opacity: 1;
    }
  }
}
