// ====
// Milo
// ====
.hover-effect figure.effect-milo {
  background: $hover-effect-milo-background-color;
  
  img {
    @include backface-visibility(hidden);
    @include transition(opacity $hover-effect-milo-speed, transform $hover-effect-milo-speed);
    @include transform(translate3d(-30px, 0, 0) scale(1.12));

    max-width: none;
    opacity: 1;
    width: -webkit-calc(100% + 60px);
    width: calc(100% + 60px);
  }

  h2 {
    bottom: 0;
    padding: 1em 1.2em;
    position: absolute;
    right: 0;
  }

  p {
    @include transition(opacity $hover-effect-milo-speed, transform $hover-effect-milo-speed);
    @include translate3d(-40px, 0, 0);

    border-right: 1px solid $hover-effect-milo-border-color;
    opacity: 0;
    padding: 0 10px 0 0;
    text-align: right;
    width: 50%;
  }

  &:hover {
    img {
      @include transform(translate3d(0, 0, 0) scale(1));

      opacity: .5;
    }

    p {
      @include translate3d(0, 0, 0);

      opacity: 1;
    }
  }
}
