// ====
// Ming
// ====
.hover-effect figure.effect-ming {
  background: $hover-effect-ming-background-color;

  img {
    @include transition(opacity $hover-effect-ming-speed);

    opacity: .9;
  }

  figcaption::before {
    @include transition(opacity $hover-effect-ming-speed, transform $hover-effect-ming-speed);
    @include scale3d(1.4, 1.4, 1);

    border: 2px solid $hover-effect-ming-border-color;
    bottom: 30px;
    box-shadow: 0 0 0 30px rgba($hover-effect-ming-border-color, .2);
    content: '';
    left: 30px;
    opacity: 0;
    position: absolute;
    right: 30px;
    top: 30px;
  }

  h2 {
    @include transition(transform $hover-effect-ming-speed);

    margin: 20% 0 10px;
  }

  p {
    @include transition(opacity $hover-effect-ming-speed, transform $hover-effect-ming-speed);
    @include scale(1.5);

    opacity: 0;
    padding: 1em;
  }

  &:hover {
    h2 {
      @include scale(.9);
    }

    figcaption::before,
    p {
      @include scale3d(1, 1, 1);

      opacity: 1;
    }

    figcaption {
      background-color: rgba($hover-effect-ming-background-color, 0);
    }

    img {
      opacity: .4;
    }
  }
}
