// =====
// Oscar
// =====
.hover-effect figure.effect-oscar {
  background: -webkit-linear-gradient(45deg, darken($hover-effect-oscar-background-color, 60%) 0%, $hover-effect-oscar-background-color 40%, darken($hover-effect-oscar-background-color, 40%) 100%);
  background: linear-gradient(45deg, darken($hover-effect-oscar-background-color, 60%) 0%, $hover-effect-oscar-background-color 40%, darken($hover-effect-oscar-background-color, 40%) 100%);
  
  img {
    @include transition(opacity $hover-effect-oscar-speed);

    opacity: .9;
  }

  figcaption {
    @include transition(background-color $hover-effect-oscar-speed);

    background-color: rgba($hover-effect-oscar-figcaption-background-rgb, .7);
    padding: 3em;

    &::before {
      border: 1px solid $hover-effect-oscar-border-color;
      bottom: 30px;
      content: '';
      left: 30px;
      position: absolute;
      right: 30px;
      top: 30px;
    }
  }

  h2 {
    @include transition(transform $hover-effect-oscar-speed);
    @include translate3d(0, 100%, 0);

    margin: 20% 0 10px;
  }

  figcaption::before,
  p {
    @include transition(opacity $hover-effect-oscar-speed, transform $hover-effect-oscar-speed);
    @include scale(0);

    opacity: 0;
  }

  &:hover {
    h2 {
      @include translate3d(0, 0, 0);
    }

    figcaption::before,
    p {
      @include scale(1);

      opacity: 1;
    }

    figcaption {
      background-color: rgba($hover-effect-oscar-figcaption-background-rgb, 0);
    }

    img {
      opacity: .4;
    }
  }
}
