// =====
// Romeo
// =====
.hover-effect figure.effect-romeo {
  @include perspective(1000px);

  img {
    @include transition(opacity $hover-effect-romeo-speed, transform $hover-effect-romeo-speed);
    @include translate3d(0, 0, 300px);
  }

  figcaption::before,
  figcaption::after {
    @include transition(opacity $hover-effect-romeo-speed, transform $hover-effect-romeo-speed);
    @include translate3d(-50%, -50%, 0);

    background: $hover-effect-romeo-border-color;
    content: '';
    height: 1px;
    left: 50%;
    position: absolute;
    top: 50%;
    width: 80%;
  }

  h2,
  p {
    @include transition(transform $hover-effect-romeo-speed);

    left: 0;
    position: absolute;
    top: 50%;
    width: 100%;
  }

  h2 {
    @include transform(translate3d(0, -50%, 0) translate3d(0, -150%, 0));
  }

  p {
    @include transform(translate3d(0, -50%, 0) translate(0, 150%, 0));

    padding: .25em 2em;
  }

  &:hover {
    img {
      @include translate3d(0, 0, 0);

      opacity: .6;
    }

    figcaption::before {
      @include transform(translate3d(-50%, -50%, 0) rotate(45deg));

      opacity: .5;
    }

    figcaption::after {
      @include transform(translate3d(-50%, -50%, 0) rotate(-45deg));

      opacity: .5;
    }

    h2 {
      @include transform(translate3d(0, -50%, 0) translate3d(0, -100%, 0));
    }

    p {
      @include transform(translate3d(0, -50%, 0) translate3d(0, 100%, 0));
    }
  }
}
