// ====
// Ruby
// ====
.hover-effect figure.effect-ruby {
  background-color: $hover-effect-ruby-background-color;
  
  img {
    @include transition(opacity $hover-effect-ruby-speed, transform $hover-effect-ruby-speed);
    @include scale(1.15);

    opacity: .7;
  }

  h2 {
    @include transition(transform $hover-effect-ruby-speed);
    @include translate3d(0, 20px, 0);

    margin-top: 20%;
  }

  p {
    @include transition(opacity $hover-effect-ruby-speed, transform $hover-effect-ruby-speed);
    @include translate3d(0, 20px, 0);
    @include scale(1.1);

    border: 1px solid $hover-effect-ruby-border-color;
    margin: 1em 0 0;
    opacity: 0;
    padding: 3em;
  }

  &:hover {
    img {
      @include scale(1);

      opacity: .5;
    }

    h2 {
      @include translate3d(0, 0, 0);
    }

    p {
      @include translate3d(0, 0, 0);
      @include scale(1);

      opacity: 1;
    }
  }
}
