// =====
// Sarah
// =====
.hover-effect figure.effect-sarah {
  background: $hover-effect-sarah-background-color;
  
  img {
    @include backface-visibility(hidden);
    @include transition(opacity $hover-effect-sarah-speed, transform $hover-effect-sarah-speed);
    @include translate3d(-10px, 0, 0);
    max-width: none;
    width: -webkit-calc(100% + 20px);
    width: calc(100% + 20px);
  }

  &:hover {
    img {
      @include translate3d(0, 0, 0);
      opacity: .4;
    }

    h2::after {
      @include translate3d(0, 0, 0);
    }

    p {
      @include translate3d(0, 0, 0);

      opacity: 1;
    }
  }

  figcaption {
    text-align: left;
  }

  h2 {
    overflow: hidden;
    padding: .5em 0;
    position: relative;

    &::after {
      @include transition(transform $hover-effect-sarah-speed);
      @include translate3d(-100%, 0, 0);

      background: $hover-effect-sarah-border-color;
      bottom: 0;
      content: '';
      height: 3px;
      left: 0;
      position: absolute;
      width: 100%;
    }
  }

  p {
    @include transition(opacity $hover-effect-sarah-speed, transform $hover-effect-sarah-speed);
    @include translate3d(100%, 0, 0);
    
    opacity: 0;
    padding: 1em 0;
  }
}
