// =====
// Steve
// =====
.hover-effect figure.effect-steve {
  background: $hover-effect-steve-background-color;
  overflow: visible;
  z-index: auto;

  &:before,
  h2:before {
    @include transition(opacity $hover-effect-steve-speed);

    background: $hover-effect-steve-background-color;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  &:before {
    box-shadow: 0 3px 30px rgba($hover-effect-steve-background-color, .8);
    opacity: 0;
  }

  figcaption {
    z-index: 1;
  }

  img {
    @include transition(transform $hover-effect-steve-speed);
    @include transform(perspective(1000px) translate3d(0, 0, 0));

    opacity: 1;
  }

  h2,
  p {
    background: $hover-effect-steve-border-color;
    color: $hover-effect-steve-font-color;
  }

  h2 {
    margin-top: 2em;
    padding: .25em;
    position: relative;

    &:before {
      box-shadow: 0 1px 10px rgba($hover-effect-steve-background-color, .5);
    }
  }

  p {
    @include transition(opacity $hover-effect-steve-speed, transform $hover-effect-steve-speed);
    @include scale3d(.9, .9, 1);

    font-weight: 800;
    margin-top: 1em;
    opacity: 0;
    padding: .5em;
  }

  &:hover {
    &:before {
      opacity: 1;
    }

    img {
      @include transform(perspective(1000px) translate(0, 0, 21px));
    }

    h2:before {
      opacity: 0;
    }

    p {
      @include scale3d(1, 1, 1);

      opacity: 1;
    }
  }
}
