// =======
// Winston
// =======
.hover-effect figure.effect-winston {
  background: $hover-effect-winston-background-color;
  text-align: left;

  img {
    @include backface-visibility(hidden);
    @include transition(opacity $hover-effect-winston-speed);
  }

  figcaption::before {
    @include transition(opacity $hover-effect-winston-speed, transform $hover-effect-winston-speed);
    @include rotate3d(0, 0, 1, 45deg);
    @include transform-origin(0 100%);

    border-bottom: 300px solid $hover-effect-winston-border-color;
    border-left: 425px solid transparent;
    content: '';    
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  h2 {
    @include transition(transform $hover-effect-winston-slow-speed);
    @include translate3d(0, 20px, 0);
  }

  p {
    bottom: 0;
    padding: 0 1.5em 7% 0;
    position: absolute;
    right: 0;

    a i {
      @include transition(opacity $hover-effect-winston-slow-speed, transform $hover-effect-winston-slow-speed);
      @include translate3d(0, 50px, 0);

      opacity: 0;
    }
  }

  a {
    color: $hover-effect-winston-font-color;
    font-size: 170%;
    margin: 0 10px;

    &:hover,
    &:focus {
      color: darken($hover-effect-winston-font-color, 40%);
    }
  }

  &:hover {
    img {
      opacity: .6;
    }

    h2 {
      @include translate3d(0, 0, 0);
    }

    figcaption::before {
      @include rotate3d(0, 0, 1, 20deg);

      opacity: .7;
    }

    p {
      i {
        @include translate3d(0, 0, 0);

        opacity: 1;
      }

      &:nth-child(3) i {
        @include transition-delay($hover-effect-winston-delay);
      }

      &:nth-child(2) i {
        @include transition-delay($hover-effect-winston-delay * 2);
      }

      &:first-child i {
        @include transition-delay($hover-effect-winston-delay * 3);
      }
    }
  }
} 
